{{#each articles as |article|}}
        <tr data-id="{{article.id}}">
          <th scope="row">{{article.id}}</th>
          <td>{{article.description}}</td>
          <td>{{article.size}}</td>
          <td>{{article.color}}</td>
          <td type="submit" class="btn btn-outline-danger delete-article">Remove</td>
          <td id="alterChanges" type="button" class="btn btn-outline-warning update-article" data-toggle="modal" data-target="#update-article-id-form">Alter</td>
        </tr>
{{/each}}
