{{#each articles as |article|}}
  <!-- {{log article}} -->

  <!-- <div> -->
    <!-- <h1 data-id="{{article.id}}"> <small>Title: {{article.title}}</small></h1> -->
      <!-- <tbody data-id="{{article.id}}" -->
      <!-- <tbody> -->

        <tr data-id="{{article.id}}">
          <th scope="row">{{article.id}}</th>
          <td>{{article.description}}</td>
          <td>{{article.size}}</td>
          <td>{{article.color}}</td>
          <td type="button" class="btn btn-outline-danger">Remove</td>

<td id="alterChanges" type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#update-article-id-form">
    Alter
</td>
</tr>

{{/each}}


  <!-- Modal -->
  <div class="modal fade" id="update-article-id-form" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div id="submit-form" class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Alter Article!
                </h4>
                  <button type="button" class="close" data-dismiss="modal">
                         <span aria-hidden="true">&times;</span>
                         <span class="sr-only">Close</span>
                  </button>
              </div>

              <!-- Modal Body -->
              <div class="modal-body">
                  <form id="update-article-form" class="update-article-form" role="form" method="patch">
                    <div class="form-group">
                        <input id="articleDescription" required type="text" class="form-control" name="article[description]" placeholder="Description"/>
                    </div>
                    <div class="form-group">
                        <input id="articleSize" required type="text" class="form-control" name="article[size]" placeholder="Size"/>
                    </div>
                    <div class="form-group">
                          <input id="articleColor" required type="text" class="form-control" name="article[color]" placeholder="Color"/>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="form-submit" type="submit" class="btn btn-primary" data-dismiss="modal" >Save changes</button>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
